<div id="carouselExampleDark" class="carousel carousel-dark slide">
  <div class="carousel-indicators">
    <?php for($i = 0; $i < count($sliders);$i++): ?>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="<?php echo $i; ?>" <?php if($i==0): ?>class="active" <?php endif; ?> aria-current="true" aria-label="Slide <?php echo $i; ?>"></button>
    <?php endfor; ?>
  </div>
  <div class="carousel-inner">
    <?php foreach($sliders as $index => $img): ?>
      <div class="carousel-item<?php if($index == 0) : ?> active <?php endif; ?>" data-bs-interval="10000">
        <img src="<?php echo $img->src; ?>" class="d-block w-100" alt="<?php echo $img->title; ?>">
        <div class="carousel-caption d-none d-md-block">
          <h5><?php echo $img->title; ?></h5>
          <p><?php echo $img->description; ?></p>
        </div>
      </div>
    <?php endforeach; ?>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>